<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Model Shop</title>
    <th:block th:replace="/layout/head :: head"/>
    <link rel="stylesheet" href="/assets/css/productA.css">
    <style>
        #table-product-trash tbody img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
        }
    </style>
</head>

<body class="footer-offset">
<th:block th:replace="/layout/builder :: builder"/>

<th:block th:replace="/layout/header_body :: headerBody"/>

<th:block th:replace="/layout/left_bar :: leftBar"/>



<main id="content" role="main" class="main">

    <!--    Show error-->
    <div class="modal-alert-danger hide" id="mainErr"></div>
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Admin</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Product</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Recycle bin</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Product recycle bin</h1>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->
        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-sm-12 col-md-6 mb-4 mb-sm-0">
                        <form class="col-sm-6">
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="searchTable" type="search" class="form-control"
                                       placeholder="Search products"
                                       aria-label="Search products">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->

            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <table id="table-product-trash"
                       class="table table-lg table-borderless table-hover table-thead-bordered table-nowrap table-align-middle card-table">
                    <thead class="thead-light">
                    <tr>
                        <th class="table-column-pl-0 text-center">Title</th>
                        <th>Category</th>
                        <th>Price (VND)</th>
                        <th>Sold</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>

                    <tbody>

                    </tbody>
                </table>
            </div>
            <!-- End Table -->
        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->

    <!-- Footer -->

    <th:block th:replace="/layout/footer :: footer"/>

    <!-- End Footer -->

    <!--    Modal start -->


    <th:block th:replace="/layout/modal/product/product_create :: product_create"/>


</main>
<!-- ========== END MAIN CONTENT ========== -->
<th:block th:replace="/layout/script :: script"/>
<script src="/assets/js/model.js"></script>
<script src="/assets/js/app.page.js"></script>
<script>
    let page = {
        urls: {
            getAllProductsTrash: App.BASE_URL_PRODUCT_TRASH
        }
    }

    function init() {
        getAllProductsTrash();
    }
    init();

    let product = new Product();

    //get all product
    function getAllProductsTrash() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "GET",
            url: page.urls.getAllProductsTrash
        })
            .done((data) => {
                showListProduct(data);

            })
            .fail((jqXHR) => {
                $('#table-product tbody').empty();

                console.log(jqXHR.responseJSON);
                if (jqXHR.responseJSON.message) {
                    let message = jqXHR.responseJSON.message;

                    let str = `<td colspan="6" id="message-error" class="error text-center" >${message}</td>`;

                    $("#table-product-trash tbody").append(str);
                }
            })
    }

    function getProductById(id) {

        return $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "GET",
            url: 'http://localhost:8080/api/products/' + id
        })
            .done((data) => {
                product = data;
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
                $('#mainErr').empty();

                $("#mainErr").addClass('show').removeClass('hide');

                if (jqXHR.responseJSON.message) {
                    let message = jqXHR.responseJSON.message;
                    console.log(message);

                    Swal.fire({
                        title: message,
                        icon: 'warning',
                        showConfirmButton: false,
                        timer: 2000
                    })
                }
            });
    }

    // Show all Product
    function showListProduct(data) {
        $.each(data, (i, item) => {
            product = item;
            let str = `
            <tr id="tr_${product.id}">
                <td>
                  <span class="d-block h5 mb-0">${product.title}</span>
                </td>
                <td>${product.category.title}</td>
                <td class="text-end">
                  ${formatCash(product.price)}
                </td>
                <td class="text-center">
                    ${product.sold}
                </td>
                <td class="text-center">
                    <img src="/images/product/${product.image}" alt="image">
                </td>
                <td class="text-center">
                   <button class="btn btn-sm btn-outline-success restore" data-id="${product.id}" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Restore">
                    <i class="fa fa-window-restore" aria-hidden="true"></i> Restore
                  </button>
                </td>
            </tr>
        `;

            $("#table-product-trash tbody").prepend(str);

            handleShowModal();
        });
    }

    //Remove even show
    function removeEventShowModal() {
        $(".restore").off();
    }

    // handle show Modal
    function handleShowModal() {
        removeEventShowModal();

        handleShowRestore();
    }

    // remove user
    function handleShowRestore() {

        let btnRestore = $(".restore");

        btnRestore.on('click', function () {
            let id = $(this).data('id');

            doRestore(id);
        })
    }

    function doRestore(productId) {
        getProductById(productId).then(() => {
            Swal.fire({
                title: `Do you want restore '${product.title}'?`,
                text: "The data will be moved to the products list!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#198754',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, restore it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        headers: {
                            "Accept": "application/json",
                            "Content-type": "application/json"
                        },
                        type: "PATCH",
                        url: 'http://localhost:8080/api/products/restore',
                        data: JSON.stringify(product)
                    })
                        .done((data) => {
                            $('#table-product-trash tbody').empty();
                            getAllProductsTrash();

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: `Product '${product.title}' has been restore`,
                                showConfirmButton: false,
                                timer: 2000
                            })
                        })
                        .fail((jqXHR) => {
                            console.log(jqXHR);
                        });
                }
            })
                .catch(() => {
                    Swal.fire({
                        title: "Product invalid",
                        icon: 'error',
                        showConfirmButton: false,
                        timer: 1500
                    })
                });
        })
    }

    // format money
    function formatCash(coin) {
        let str = coin.toString();
        return str.split('').reverse().reduce((prev, next, index) => {
            return ((index % 3) ? next : (next + ',')) + prev;
        });
    }

    //search filter JQuery
    $(document).ready(function(){
        $("#searchTable").on("keyup", function() {
            let value = $(this).val().toLowerCase();
            $("#table-product-trash tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>

</html>
